<div class="container">
    <ol class="breadcrumb">
        <li class="active"><a ui-sref="books">Books</a></li>
        <li class=""><a ui-sref="titles">Titles</a></li>
        <li class=""><a ui-sref="subjects">Subjects</a></li>
        <li class=""><a ui-sref="returns" ng-click="">Borrowed Books</a></li>
    </ol>

    <div class="search-form text-center col-sm-6 col-sm-offset-6">
        <form>
            <div class="input-group">
                <input type="text" ng-model="searchKeyword" class="form-control" placeholder="Search books to return">
                <span class="input-group-btn">
        <a><button class="btn btn-default" ng-click="" type="button">Search</button></a>
      </span>
            </div>
            <!-- /input-group -->
        </form>
    </div>

    <table class="table table-hover">
        <thead>
            <tr style="background:white;">
                <th>#</th>
                <th>Title</th>
                <th>Student USI</th>
                <th>U.G ID</th>
                <!--<th>Condition ID</th>-->
                <th>Condition</th>
                <th>Borrowed Date</th>
                <th>Return Book</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="book in books  | filter: searchKeyword">
                <th scope="row">{{ $index + 1 }}</th>
                <td><input type="text" ng-model="book.title_name" ng-disabled="true"></td>
                <td><input type="text" ng-model="book.student_usi" ng-disabled="true"></td>
                <td><input type="text" ng-model="book.ug_id" ng-disabled="true"></td>
                <!--<td><input type="text" ng-model="book.condition_id"></td>-->
                <td><input type="text" ng-model="book.condition_name" ng-disabled="true"></td>
                <td><input type="text" ng-model="book.borrowed_date" ng-disabled="true"></td>
                <td>
                    Return Condition:<select ng-model="book.return_condition_id" class="form-control">
							  <option value="1">Poor</option>
								<option value="2">Fair</option>
							  <option value="3">Good</option>
							  <option value="4">Very Good</option>
							  <option value="5">Excellent</option>
							</select>
                    <button ng-click="return_book(book)" data-toggle="modal" type="button" class="btn btn-success text-center" aria-label="Left Align">
						Return <span class="glyphicon glyphicon-save" aria-hidden="true"></span>
					</button>

                </td>


            </tr>

        </tbody>
    </table>
</div>