<div class="container">
	<ol class="breadcrumb">
		<li class="active"><a ui-sref="users">Users</a></li>
		<li class=""><a href="#myUserModal" data-toggle="modal">Add New User</a></li>
	</ol>

	<div class="search-form text-center col-sm-6 col-sm-offset-6">
		<form>
			<div class="input-group">
				<input type="text" ng-model="searchKeyword" class="form-control" placeholder="Search user via keyword">
				<span class="input-group-btn">
        <a><button class="btn btn-default" ng-click="" type="button">Search</button></a>
      </span>
			</div>
			<!-- /input-group -->
		</form>
	</div>

	<table class="table table-hover">
		<thead>
			<tr style="background:white;">
				<th>#</th>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Username</th>
				<!--<th>Role ID</th>-->
				<th>Role</th>
				<th> </th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="user in users  | filter: searchKeyword ">
				<!-- Dynamic content will have to go here-->
				<th scope="row">{{ $index + 1 }}</th>
				<td><input type="text" ng-model="user.first_name"></td>
				<td><input type="text" ng-model="user.last_name"></td>
				<td><input type="text" ng-model="user.username" ></td>
				<!--<td><input type="text" ng-model="user.role" ng-disabled="true"></td>-->
				<td><input type="text" ng-model="user.role_type" ng-disabled="true"></td>
				<td>
					<button ng-click="edit_user(user)" type="button" class="btn btn-success" aria-label="Left Align">
						Edit <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
					</button>

					<button ng-click="delete_user(user)" data-toggle="modal" type="button" class="btn btn-success" aria-label="Left Align">
						Mark Inactive <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
					</button>
				</td>
			</tr>

		</tbody>
	</table>
	<div style="display:none;">
		
	<br>
	<h3>
		Inactive Users
	</h3>
	<table class="table table-hover">
		<thead>
			<tr>
				<th>#</th>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Username</th>
				<th>Role ID</th>
				<th>Role</th>
				<th> </th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="user in users">
				<!-- Dynamic content will have to go here-->
				<th scope="row">{{ $index + 1 }}</th>
				<td><input type="text" ng-model="user.first_name"></td>
				<td><input type="text" ng-model="user.last_name"></td>
				<td><input type="text" ng-model="user.username"  ng-disabled="true"></td>
				<td><input type="text" ng-model="user.role"></td>
				<td><input type="text" ng-model="user.role_type"></td>
				<td>
					<button ng-click="edit_user(user)" type="button" class="btn btn-success" aria-label="Left Align">
						Edit <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
					</button>

					<button ng-click="delete_user(user)" data-toggle="modal" type="button" class="btn btn-success" aria-label="Left Align">
						Mark Active <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
					</button>
				</td>
			</tr>

		</tbody>
	</table>
	</div>
</div>


<!-- Add Book Modal -->
<div id="myUserModal" class="modal fade" style="color: white;">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title text-center">Add New User</h4>
				<h5 class="modal-title text-center">User Information</h5>
			</div>
			<div class="modal-body">
				<form class="form-horizontal add" action="" role="form">

					<div class="form-group">
						<label class="control-label col-sm-2" for="">Username</label>
						<div class="col-sm-10">
							<input type="text" ng-model="user.username" name="username" class="form-control" placeholder="Enter Username">
						</div>
					</div>

					<div class="form-group">
						<label class="control-label col-sm-2" for="">Password</label>
						<div class="col-sm-10">
							<input type="password" ng-model="user.password" name="password" class="form-control" placeholder="Enter Password">
						</div>
					</div>

					<div class="form-group">
						<label class="control-label col-sm-2" for="">Re-Type Password</label>
						<div class="col-sm-10">
							<input type="password" ng-model="user.password1" name="password1"class="form-control" placeholder="Re-Type Password">
						</div>
					</div>

					<div class="form-group">
						<label class="control-label col-sm-2" for="">First Name</label>
						<div class="col-sm-10">
							<input type="text" ng-model="user.first_name" name="firstname" class="form-control" placeholder="Enter First Name">
						</div>
					</div>

					<div class="form-group">
						<label class="control-label col-sm-2" for="">Last Name</label>
						<div class="col-sm-10">
							<input type="text" ng-model="user.last_name" name="lastname" class="form-control" placeholder="Enter Last Name">
						</div>
					</div>

					<div class="form-group">
						<label class="control-label col-sm-2" for="">User Type</label>
						<div class="col-sm-10">
							<select ng-model="user.role" name="role" class="form-control">
							  <option value="1" selected>Librarian</option>
								<option value="2">Admin</option>
							  <option value="3">Student</option>
						
							</select>
						</div>
					</div>

					<div class="form-group" id="student-usi" style="display:none;">
						<label class="control-label col-sm-2" for="">Student USI</label>
						<div class="col-sm-10">
							<input type="number" ng-model="user.student_usi" class="form-control" name="student_usi" id="student-usi" placeholder="Enter Student USI">
						</div>
					</div>

					<script type="text/javascript">
						function showDiv(select) {
							if (select.value == 3) {
								document.getElementById('student-usi').style.display = "block";
							} else if (select.value == 1) {
								document.getElementById('student-usi').style.display = "none";
							} else if (select.value == 2) {
								document.getElementById('student-usi').style.display = "none";
							}
						}
					</script>


				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button ng-click="add_user(user)" type="button" data-dismiss="modal" class="btn btn-success">Add User</button>
			</div>
		</div>
	</div>
</div>